.navbar {
    background: #000;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .link {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 0 30px;
    text-decoration: none;
}